html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #FFFFFF;
   text-decoration: none;
}
a:active
{
   color: #FF1418;
}
a:hover
{
   color: #FF1418;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Layer1
{
   background-color: transparent;
   background-image: url(images/Contact.png);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
   padding: 0;
   margin: 0;
}
#Layer1
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-end;
}
#Layer2
{
   background-color: transparent;
   background-image: url(images/contact3.png);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
   padding: 0;
   margin: 0;
}
#Layer2
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-end;
}
#wb_ClipArt1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#wb_ClipArt1 a img
{
   position: relative;
   left: 0;
}
#wb_ClipArt1 .default
{
   position: absolute;
   left: 0;
}
#wb_ClipArt1 a .hover
{
   visibility: hidden;
}
#wb_ClipArt1 a:hover .hover
{
   visibility: visible;
}
#wb_ClipArt1 a:hover .default
{
   visibility: hidden;
}
#ClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#ClipArt1:hover
{
   -webkit-transform: rotate(0deg) scale(1.5,1.5) ;
   transform: rotate(0deg) scale(1.5,1.5) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#wb_ClipArt1
{
   margin: 0px 5px 75px 5px;
   -webkit-animation: animate-border 1000ms linear 0ms infinite normal both;
   animation: animate-border 1000ms linear 0ms infinite normal both;
}
#wb_ClipArt2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#wb_ClipArt2 a img
{
   position: relative;
   left: 0;
}
#wb_ClipArt2 .default
{
   position: absolute;
   left: 0;
}
#wb_ClipArt2 a .hover
{
   visibility: hidden;
}
#wb_ClipArt2 a:hover .hover
{
   visibility: visible;
}
#wb_ClipArt2 a:hover .default
{
   visibility: hidden;
}
#ClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#ClipArt2:hover
{
   -webkit-transform: rotate(0deg) scale(1.5,1.5) ;
   transform: rotate(0deg) scale(1.5,1.5) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#wb_ClipArt2
{
   margin: 0px 5px 0px 5px;
   -webkit-animation: animate-border 1000ms linear 0ms infinite normal both;
   animation: animate-border 1000ms linear 0ms infinite normal both;
}
#wb_ClipArt3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#wb_ClipArt3 a img
{
   position: relative;
   left: 0;
}
#wb_ClipArt3 .default
{
   position: absolute;
   left: 0;
}
#wb_ClipArt3 a .hover
{
   visibility: hidden;
}
#wb_ClipArt3 a:hover .hover
{
   visibility: visible;
}
#wb_ClipArt3 a:hover .default
{
   visibility: hidden;
}
#ClipArt3
{
   border-width: 0;
   vertical-align: top;
}
#ClipArt3:hover
{
   -webkit-transform: rotate(0deg) scale(1.5,1.5) ;
   transform: rotate(0deg) scale(1.5,1.5) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#wb_ClipArt3
{
   margin: 0px 5px 0px 5px;
   -webkit-animation: animate-border 1000ms linear 0ms infinite normal both;
   animation: animate-border 1000ms linear 0ms infinite normal both;
}
#wb_LayoutGrid2
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 10px 0px 10px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#TabMenu1
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   list-style-type: none;
   padding: 15px 0px 4px 10px;
   overflow: hidden;
}
#TabMenu1 li
{
   float: left;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   position: relative;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu1 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 2px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu1 li a:hover
{
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu1
{
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   background-color: #FFC000;
   color: #FF0080;
}
#TabMenu1 li a
{
   border: 1px solid #D19405;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #FECE2F;
   color: #4C3000;
}
#TabMenu1 li a:hover
{
   background: #FFDD57;
   color: #381F00;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
